<div class = "photo" >
  <div class = "contacts-view-header">
    <img width="600" height="700" src = './images/ceo.jpg'>
    <h2>CEO</h2>
  </div>
  <div class = "contacts-view-header">
    <img width="600" height="700" src = './images/volodya.jpg'>
    <h2>Assistan of CEO</h2>
  </div>
  <div class = "contacts-view-header">
    <img width="600" height="700" src = './images/kfc.jpg'>
    <h2>Main cooker</h2>
  </div>
  <div class = "contacts-view-header">
    <img width="600" height="700" src = './images/gabdulan.jpg'>
    <h2>Ambassador</h2>
  </div>
  <div class = "contacts-view-header">
    <img width="600" height="700" src = './images/html.jpg'>
    <h2>Web developer</h2>
  </div>

</div>

